:root {
  --iris-collor: #4d5ae5;
  --ocean-collor: #404bbf;
  --navyblue-collor: #2e2f42;
  --green-collor: #31d0aa;
  --slate-collor: #434455;
  --lightslate-collor: #8e8f99;
  --cornflower-collor: #e7e9fc;
  --cloud-collor: #f4f4fd;
  --navybluemodal-collor: #2e2f42;
  --gray-color: #2e2f42;
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
}
body {
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-address {
  font-family: inherit;
  font-style: inherit;
  color: var(--slate-collor);
}
.head1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.head2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}
.head3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}
.list {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-collor);
}
.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-collor);
}
.section-solution {
  background-color: var(--navyblue-collor);
  color: var(--white-color);
}
.section-our-team {
  background-color: var(--cloud-collor);
}
.our-team-list {
  background-color: #ffffff;
}
.text-link {
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
}
.link {
  text-decoration: none;
}
.address-link {
  text-decoration: none;
  color: var(--slate-collor);
}
.logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-collor);
}
.span-logo {
  color: var(--navyblue-collor);
}
.text-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filter-button {
  color: var(--iris-collor);
  background-color: var(--cloud-collor);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--ocean-collor);
  color: var(--white-color);
}
.nav-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue-collor);
}
.link:hover,
.link:focus {
  color: var(--ocean-collor);
  text-decoration: underline;
}
.address-text:hover,
.address-text:focus {
  color: var(--ocean-collor);
  text-decoration: underline;
}
.basement {
  background-color: var(--gray-color);
}
.footer-text {
  color: var(--cloud-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-span-logo {
  color: var(--cloud-collor);
}
